html { color: #222; font-size: 1em; line-height: 1.4; line-height: 1.15; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; }
::-moz-selection { background: #b3d4fc; text-shadow: none; }
::selection { background: #b3d4fc; text-shadow: none; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
audio, canvas, iframe, img, svg,video { vertical-align: middle; }
fieldset { border: 0; margin: 0; padding: 0; }
textarea { resize: vertical; }
.hidden { display: none !important; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); -webkit-clip-path: inset(50%); clip-path: inset(50%); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; white-space: nowrap; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; -webkit-clip-path: none; clip-path: none; height: auto; margin: 0; overflow: visible; position: static; width: auto; white-space: inherit; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: " ";  display: table; }
.clearfix:after { clear: both; }
a, a:visited { text-decoration: underline; }
pre { white-space: pre-wrap !important; }
pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
thead { display: table-header-group; }
tr, img { page-break-inside: avoid; }
p, h2, h3 { orphans: 3; widows: 3; }
h2, h3 { page-break-after: avoid; }
article, aside, footer, header, nav, section { display: block; }
h1 { font-size: 2em; margin: 0.67em 0; }
figcaption, figure, main {  display: block; }
figure { margin: 1em 40px; }
hr { box-sizing: content-box;  height: 0;  overflow: visible; }
pre { font-family: monospace, monospace;  font-size: 1em; }
a { background-color: transparent; -webkit-text-decoration-skip: objects; }
abbr[title] { border-bottom: none; text-decoration: underline; text-decoration: underline dotted; }
b, strong { font-weight: inherit; }
b, strong { font-weight: bolder; }
code, kbd, samp { font-family: monospace, monospace; font-size: 1em; }
dfn { font-style: italic; }
mark { background-color: #ff0; color: #000; }
small { font-size: 80%; }
sub, sup { font-size: 75%; line-height: 0;position: relative;vertical-align: baseline; }
sub { bottom: -0.25em; }
sup { top: -0.5em; }
audio, video { display: inline-block; }
audio:not([controls]) { display: none; height: 0; }
img { border-style: none; }
svg:not(:root) { overflow: hidden; }
button, input, optgroup, select, textarea {font-family: sans-serif;  font-size: 100%;  line-height: 1.15;  margin: 0; }
button, input {  overflow: visible; }
button, select {  text-transform: none; }
button, html [type="button"], [type="reset"], [type="submit"] { -webkit-appearance: button; }
button::-moz-focus-inner, [type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner { border-style: none; padding: 0; }
button:-moz-focusring, [type="button"]:-moz-focusring, [type="reset"]:-moz-focusring, [type="submit"]:-moz-focusring { outline: 1px dotted ButtonText; }
fieldset { padding: 0.35em 0.75em 0.625em; }
legend { box-sizing: border-box; color: inherit; display: table; max-width: 100%; padding: 0; white-space: normal; }
progress { display: inline-block; vertical-align: baseline; }
textarea { overflow: auto; }
[type="checkbox"], [type="radio"] { box-sizing: border-box;  padding: 0; }
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button { height: auto;}
[type="search"] { -webkit-appearance: textfield;  outline-offset: -2px; }
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }
::-webkit-file-upload-button { -webkit-appearance: button; font: inherit; }
details, menu { display: block; }
summary { display: list-item; }
canvas { display: inline-block; }
template { display: none; }
[hidden] { display: none; }



body { 
  margin: 0;
  background: #fff;
  color: #868686;
  font-family: "calluna", sans-serif;
}
h1, h2, h3, h4, h5, h6 { 
	font-weight: normal; 
	margin: 10px 0;
	padding: 0;
}
a { 
	text-decoration: none;
	color: #e43924; 
}
a:hover { text-decoration: underline; }

header {
  background: #770D00 url(img/tylerbg.png) bottom center no-repeat;
  overflow: hidden;
  height: 300px;
}
header h1 {
	margin: 125px 20px 0;
	color: #FFF;
	text-align: center;
	font-size: 42px;
}
@media screen and (max-width: 560px) {
header h1 {
	font-size: 32px;
	}
}
@media screen and (max-width: 420px) {
header h1 {
	margin: 110px 20px 0;
	}
}
header a { 
	display: block;
	width: 49px;
	height: 49px;
	margin: 60px auto 20px;
}
header a img { 
	display: block; 
	cursor: pointer; 
}
header a:hover img { opacity: .7; }
header h2 {
	color: #FFF;
	text-align: center;
	font-size: 42px;
}
header p { 
	color: #fff; 
	text-align: center;
}


#work { 
	padding: 60px 0 0px 0; 
	margin: 0px 0 0 0;
	overflow: visible;
	background: transparent;
	width: 100%;
	clear: both;
}
@media screen and (max-width: 600px) {
#work { 
	padding-top: 15px;
	}
}
#work p { display: none; }
@media screen and (max-width: 600px) {
#work p { 
	text-align: center;
	display: block;
	font-size: 26px;
	}
}
.workimg { 
	width: 100%;
	overflow: hidden;
	box-sizing: border-box;
	padding: 0;
	margin: 0px;
}
.workimg a { 
	display: block;
	float: left;
	width: 330px;
	box-sizing: border-box;
	margin: 10px 10px 20px;
	overflow: hidden;
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,.3);
	position: relative;
	background: #760f07;
	transition: .1s;
}

@media screen and (max-width: 1420px) {
.workimg a { 
	width: 290px; 
	margin: 10px 5px 20px;
	}
}
@media screen and (max-width: 1220px) {
.workimg a { width: 240px; }
}
@media screen and (max-width: 1020px) {
.workimg a { 
	width: 48%; 
	margin: 10px 1% 10px 1%; 
	}
}
@media screen and (max-width: 600px) {
.workimg a { 
	width: 100%; 
	padding: 0 0px; 
	box-sizing: border-box;
	}
}
.workimg a:hover img { 
	opacity: .1;
}
.workimg a:hover h6 { 
	opacity: 1;
}
.workimg a img {
	width: 100%;
	height: auto;
	display: block;
	opacity: 1;
	transition: .7s; 
}
.workimg a h6 {
	position: absolute;
	color: #fff;
	text-align: center;
	top: 105px;
	right: 0;
	left: 0;
	font-size: 18px;
	opacity: 0;
	transform: .8s;
}

#about {
	overflow: hidden;
	margin: 0px 0 80px 0;
	clear: both;
}
@media screen and (max-width: 620px) {
#about {
	margin: 40px 0;
	}
}
#about .about { 
	overflow: hidden;
	margin: 50px 0 40px 0;
	padding: 60px 0 0 0;
	border-top: 1px solid #ececec;
}
@media screen and (max-width: 620px) {
#about .about {
	margin: 0 20px 40px;
	}
}
#about .about h2 { 
	width: 30%;
	float: left; 
	display: block;
	font-size: 36px;
	margin: 0px 0 0 0;
	padding-left: 20px;
	box-sizing: border-box;
}
@media screen and (max-width: 1000px) {
#about .about h2 { display: none; }
}
#about .about p {
	font-size: 24px;
	line-height: 36px;
	color: #3c3c3c;
	margin: 0;
	overflow: hidden;
	display: block;
}
@media screen and (max-width: 1000px) {
#about .about p { width: 100%; }
}
#about .skills { 
	clear: both; 
	overflow: hidden;
	margin: 0 0 60px 0;
}
#about .skills h4 { 
	font-size: 26px; 
	display: block;
	width: 30%;
	float: left;
	padding-left: 20px;
	box-sizing: border-box;
}
@media screen and (max-width: 1000px) {
#about .skills h4 { 
	width: 100%; 
	text-align: center;
	}
}
#about .skills ul {
	display: block;
	width: 70%;
	overflow: hidden;
	padding: 0;
	margin: 0;
}
@media screen and (max-width: 1000px) {
#about .skills ul { width: 100%; }
}
#about .skills li {
	display: block;
	width: 30%;
	float: left;
	color: #3c3c3c;
	margin: 10px 0 8px;
	font-size: 18px;
	padding: 0 3% 0 0;
}
@media screen and (max-width: 780px) {
#about .skills li {
	width: 47%;
	}
}
#about .job { 
	clear: both; 
	overflow: hidden;
	margin: 0 0 20px 0;
}
#about .job h6, #about .job h6 a { 
	display: block; 
	float: left;
	width: 30%;
	font-size: 20px;
	color: #3c3c3c;
	line-height: 28px;
	padding: 0 20px;
	box-sizing: border-box;
}
@media screen and (max-width: 1000px) {
#about .job h6, #about .job h6 a {
	width: 100%;
	}
}

#about .job h6 span { 
	color: #868686; 
	font-size: 16px;
}
#about .job p {
	width: 70%;
	display: block;
	float: left;
	margin: 10px 0 30px 0;
	color: #3c3c3c;
	line-height: 28px;
	font-size: 18px;
}
@media screen and (max-width: 1000px) {
#about .job p {
	width: 100%;
	}
}


#casestudy {
	margin: 60px auto;
	color: #3c3c3c;
}
@media screen and (max-width: 1020px) {
#casestudy { margin: 30px auto; }
}
#casestudy p {
	color: #3c3c3c;
	line-height: 28px;
	font-size: 18px;
	width: 100%; 
	margin: 20px 0px;
	padding: 0 30px;
	display: block;
	box-sizing: border-box;
}

@media screen and (max-width: 1020px) {
#casestudy p { 
	line-height: 24px;
	font-size: 16px;
	margin: 20px 0px;
	padding: 0 0px;
	}
}

#casestudy img.fullcol { width: 100%; }

#casestudy img.old {
	margin: 40px auto;
	display: block;
	max-width: 1400px;
}

@media screen and (max-width: 1420px) {
#casestudy img.old {
	margin: 40px auto;
	display: block;
	max-width: 1200px;
	}
}

@media screen and (max-width: 1220px) {
#casestudy img.old {
	margin: 40px auto;
	display: block;
	max-width: 1000px;
	}
}

@media screen and (max-width: 1000px) {
#casestudy img.old {
	margin: 40px auto;
	display: block;
	max-width: auto;
	width: 100%;
	}
}
#casestudy h5 { 
	font-size: 24px;
	margin: 30px 30px 0px 30px; 
}  


footer p { 
	text-align: center; 
	font-size: 14px;
}


.wrap { 
  margin: 0 auto;
  width: 1400px; 
}
@media screen and (max-width: 1420px) {
.wrap { width: 1200px; }
}
@media screen and (max-width: 1220px) {
.wrap { width: 1000px; }
}
@media screen and (max-width: 1000px) {
.wrap { 
	width: 100%; 
	padding: 0 0px; 
	box-sizing: border-box;
	}
}






@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
}
@media print *, *:before,*:after {
        background: transparent !important;
        color: #000 !important; 
        box-shadow: none !important;
        text-shadow: none !important;
    }
}